.full-width-button {
  display: block;
  width: 100%;
  height: 153px;
  font-size: 30px;
  line-height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #ad1818;
}

.full-width-button:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.full-width-button_small {
  margin-top: 80px;
  font-size: 20px;
  line-height: 63px;
}

.full-width-button_inverted {
  display: block;
  margin-top: 109px;
  width: 100%;
  height: 153px;
  font-size: 30px;
  line-height: 153px;
  background-color: #ad1818;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

.full-width-button_inverted:hover {
  background-color: #fff;
  color: #ad1818;
}

@media (max-width: 1199px) {
  .full-width-button_inverted {
    margin-top: 86px;
  }
}

@media (max-width: 767px) {
  .full-width-button {
    display: block;
    width: 100%;
    height: 100px;
    font-size: 22px;
    line-height: 100px;
  }

  .full-width-button_inverted {
    display: block;
    margin-top: 1px;
    width: 100%;
    height: 100px;
    font-size: 22px;
    line-height: 100px;
    background-color: #ad1818;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
  }

  .full-width-button_inverted:hover {
    background-color: #fff;
    color: #ad1818;
  }
}
