.section-long {
  padding-top: 150px;
  padding-bottom: 150px;
}

.projects {
  margin-top: 30px;
  margin-bottom: 87px;
}

.projects .project {
  margin-top: 90px;
}

.projects :first-child {
  margin-top: 0;
}

.project__image {
  margin-bottom: 14px;
}

.project__title {
  margin-bottom: 15px;
}

.project__link {
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .section-long {
    padding-top: 120px;
    padding-bottom: 103px;
  }
}

@media (max-width: 767px) {
  .section-long {
    padding-top: 81px;
    padding-bottom: 144px;
  }
}
