.section-long {
  padding-top: 150px;
  padding-bottom: 150px;
}

.projects {
  margin-top: 33px;
  margin-bottom: 102px;
}

.project {
  margin-top: 80px;
}

.projects :first-child {
  margin-top: 0;
}

.project__image {
  margin-bottom: 14px;
}

.project__title {
  margin-bottom: 15px;
}

.project__link {
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .section-long {
    padding-top: 120px;
    padding-bottom: 104px;
  }

  .project {
    margin-top: 82px;
  }

  .project__image {
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 13px;
  }

  .project__title {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .section-long {
    padding-top: 81px;
    padding-bottom: 144px;
  }

  .projects {
    margin-top: 20px;
    margin-bottom: 62px;
  }

  .project {
    margin-top: 20px;
    margin-bottom: 49px;
  }

  .project__image {
    margin-bottom: 21px;
    height: 250px;
  }

  .project__title {
    margin-bottom: 11px;
  }

  .project__link {
    font-size: 16px;
    line-height: 22px;
  }

  .project__link {
    font-size: 16px;
    line-height: 21px;
  }
}
