.reviews__padding {
  padding-top: 148px;
  padding-bottom: 157px;
}

.reviews__inner {
  display: flex;
  flex-wrap: wrap;
  column-gap: 29px;
  row-gap: 82px;
}

.review {
  width: calc(50% - 25px);
}

.review:last-child:nth-child(2n + 1) {
  width: 75%;
}

.reviews__title {
  margin-bottom: 30px;
}

.review__title {
  font-size: 45px;
  line-height: 61px;
  margin-bottom: 14px;
}

.review__text {
  font-size: 22px;
  line-height: 30px;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 17px 0 17px;
  }

  .reviews__padding {
    padding-top: 117px;
    padding-bottom: 120px;
  }

  .reviews__inner {
    column-gap: 10px;
    row-gap: 52px;
  }

  .reviews__title {
    margin-bottom: 30px;
  }

  .review {
    width: calc(50% - 5px);
  }

  .review__title {
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 25px;
  }

  .review__text {
    font-size: 20px;
    line-height: 27px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 13px 0 13px;
  }

  .reviews__padding {
    padding-top: 80px;
    padding-bottom: 55px;
  }

  h2 {
    font-size: 14px;
    line-height: 19px;
  }

  .reviews__inner {
    margin-top: 21px;
    flex-direction: column;
  }

  .review {
    width: 100% !important;

    margin-bottom: 25px;
  }

  .reviews__title {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 22px;
  }

  .review__title {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 9px;
  }

  .review__text {
    font-size: 16px;
    line-height: 22px;
  }
}
